:root {
  --Dark-void: #121214;
  --Black-russian: #0B0B0C;
  --Gray-: #4D4D57;
  --Medium-Purple: #8257E5;
  --White-: #E1E1E6;
  --Clear-White-:#FFFFFF;
  --Gren-:#04D361;
  --Red-: #F54358;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--Dark-void);
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb{
  background-color: var(--Gray-);
  border-radius: 0.5rem;
}