:root {
  --Dark-void: #121214;
  --Black-russian: #202024;
  --Medium-Purple: #8257E5;
  --White-: #E1E1E6;
  --Clear-White-:#FFFFFF;
  --Gren-:#04D361;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--Dark-void);
}