.content button{
    padding: 0.6rem 2rem;
    border-radius: 20rem;
    border: none;
    background: transparent;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    margin: 1rem;
}
.content a {
    font-size: 1.6rem;
    color: var(--White-);
}
.content button:hover{
    background-color: var(--Medium-Purple);
}